.news {
  //   border: 1px solid #434343;

  //   -webkit-box-shadow: 11px 9px 0px 2px #ffde59;
  //   -moz-box-shadow: 11px 9px 0px 2px #ffde59;
  border-radius: 5px;
  //   box-shadow: 2px 2px 0px 6px #ffde59, 19px 15px 0px 2px #3d3d3d31;
  border-left: 5px solid #ffde59;
  padding-block: 1rem;
  margin-block: 2rem;
  padding-inline: 2rem;
  font-size: 1.2rem;

  h2 {
    font-size: 1.8rem;
  }
}
